h1 {
    text-align: center;
    font-size: 3em;
}

/* body {
    text-align: center;
}

#product-details {
    margin-top: 50px;
}

#text-box {
    width: 200px;
    height: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width: 1000px;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#customer-fieldset {
    margin-bottom: 500x;
}